<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportInvoiceDesignBasicHttpEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://erptestep.isisbilisim.com.tr/EInvoiceEasy.svc"
                binding="basicHttpBinding" bindingConfiguration="ReportInvoiceDesignBasicHttpEndpoint"
                contract="EASY.IEasy" name="ReportInvoiceDesignBasicHttpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>